In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('home_testset.csv')

In [3]:
df

,pm2,pm10,tvoc,CO2,temp,humi,O_pm2,O_pm10,O_temp,O_humi,temp_diff,humi_diff
0,59,87,425,18,15,90,56,58,9,40,6,50
1,65,35,505,851,21,50,81,81,12,90,9,-40
2,59,12,806,996,27,20,53,41,21,80,6,-60
3,0,31,739,348,27,50,50,51,9,50,18,0
4,54,0,429,696,18,100,77,91,12,80,6,20
...,...,...,...,...,...,...,...,...,...,...,...,...
95,30,28,573,281,24,90,37,43,6,80,18,10
96,54,68,123,203,18,80,13,26,9,70,9,10
97,23,67,321,891,3,0,43,6,3,30,0,-30
98,5,54,659,371,21,60,43,72,0,100,21,-40
99,17,100,643,746,3,10,15,89,30,80,-27,-70

In [4]:
# 주석
## 의사 결정 필요 사항 ##
#? 계절? (날짜로 결정할 것인가? 그렇다면 몇월부터 몇월까지 여름이고? 겨울인가?)
#!

## 실내 ##
#@ PM 2.5 - 좋음, 나쁨, 매우 나쁨
#@ PM 10 - 좋음, 나쁨, 매우 나쁨
#@ TVOC - 좋음, 나쁨, 매우 나쁨
#@ CO2 - 좋음, 나쁨, 매우 나쁨
#@ temperature(온도) - 숫자
#@ humidity(습도) - 숫자

## 실외 ##
#@ PM 2.5 - 좋음, 나쁨, 매우 나쁨
#@ PM 10 - 좋음, 나쁨, 매우 나쁨
#@ temperature(온도) - 숫자
#@ humidity(습도) - 숫자
#// 오존 - 좋음, 나쁨, 매우 나쁨

## 차이 변수 ##
#@ temp_diff - 높음, 보통, 낮음
#@ humi_diff - 높음, 보통, 낮음

In [34]:
def change_pm(pm2, pm10):
    if pm2 < 35 :
        a = '정상'
    elif (pm2 >= 35 and pm2 < 75) :
        a = "나쁨"
    else :
        a = "매우 나쁨"
        
    if pm10 < 80 :
        b = '정상'
    elif (pm10 >= 80 and pm10 < 150) :
        b = "나쁨"
    else :
        b = "매우 나쁨"
        
    if (a == "매우 나쁨") or (b == "매우 나쁨") :
        result = "매우 나쁨"
    elif (a == "나쁨") or (b == "나쁨") :
        result = "나쁨"
    else :
        result = '정상'
        
    return result

In [35]:
def change_co2(x):
    if x < 1000 :
        result = '정상'
    elif (x >= 1000 and x < 1500) :
        result = "나쁨"
    else :
        result = "매우 나쁨"
        
    return result

In [36]:
def change_tvoc(x):
    if x < 660 :
        result = '정상'
    elif (x >= 660 and x < 2200) :
        result = "나쁨"
    else :
        result = "매우 나쁨"
        
    return result

In [37]:
# 미세먼지(실내)
df['c_pm'] = df.apply(lambda x : change_pm(x['pm2'], x['pm10']), axis=1)

# 미세먼지(실외)
df['c_O_pm'] = df.apply(lambda x : change_pm(x['O_pm2'], x['O_pm10']), axis=1)

# CO2(실내)
df['c_CO2'] = df['CO2'].apply(lambda x : change_co2(x))

# TVOC실내)
df['c_tvoc'] = df['tvoc'].apply(lambda x : change_tvoc(x))

In [38]:
df.head(1)

,pm2,pm10,tvoc,CO2,temp,humi,O_pm2,O_pm10,O_temp,O_humi,temp_diff,humi_diff,c_pm,c_O_pm,c_CO2,c_tvoc
0,59,87,425,18,15,90,56,58,9,40,6,50,나쁨,나쁨,정상,정상

In [ ]:
흡연정보3['SMOKE_TYPE'] = 흡연정보3.apply(lambda x: df_smoke_type(x['C110'], x['C120']), axis=1)

In [22]:
change_pm(80, 60)

'매우 나쁨'

In [23]:
change_co2(8000)

'매우 나쁨'

In [4]:
def test(pm2, pm10, tvoc, CO2, temp, humi, O_pm2, O_pm10, O_temp, O_humi, temp_diff, humi_diff):
    x=1
    return x